exportClasses(BrowserVizClass)

exportMethods (
   ready,
   getBrowserInfo,
   send,
   browserResponseReady,
   getBrowserResponse,
   closeWebSocket,
   port,
   roundTripTest,
   displayHTMLInDiv,
   getBrowserWindowTitle,
   setBrowserWindowTitle,
   getBrowserWindowSize
   )

export(
   addRMessageHandler,
   BrowserViz,
   toJSON
   )

importClassesFrom(methods, character, integer)
importFrom(methods, new)

import(httpuv)
importFrom(jsonlite, fromJSON, toJSON)
